a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  width: 100%;
  background-color: black;
  background: black;
  box-shadow: 0px 0px 5px 4px black;
  overflow: auto;
  float:left;
  padding-top: 7px;
  padding-bottom: 2px;
}

.socials {
  width: 28%;
  overflow: auto;
  float:right;
  text-align: right;
  
}

#home {
  color: #FFFFFF;
  transition: color 0.3s ease-in-out;
}

#home:hover {
  color: #79abe0;
  transition: color 0.3s ease-in-out;
}

#projects {
  color: #FFFFFF;
  transition: color 0.3s ease-in-out;
}

#projects:hover {
  color: #f3d27e;
  transition: color 0.3s ease-in-out;
}

#resume {
  color: white;
  transition: color 0.3s ease-in-out;
}

#resume:hover {
  color: #b4b957;
  transition: color 0.3s ease-in-out;
}

#yelp {
  color: white;
  transition: color 0.3s ease-in-out;
}

#yelp:hover {
  color: #ff5f4e;
  transition: color 0.3s ease-in-out;
}

#linkedincontainer {
  width: 28px;
  padding-right: 8px;
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease-in-out;
}

#linkedincontainer:hover{
  filter: brightness(1) invert(0);
  transition: filter 0.3s ease-in-out;
  
}

#githubcontainer {
  width: 27px;
  height: 27px;
  background-color: white;
  border-radius: 70%;
  filter: invert(0);
  transition: filter 0.3s ease-in-out;
}

#githubcontainer:hover{
  filter: invert(1);
  transition: filter 0.3s ease-in-out;
}

#twitchcontainer {
  padding-left: 9px;
  width: 25px;
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease-in-out;
}

#twitchcontainer:hover{
  filter: brightness(1) invert(0);
  transition: filter 0.3s ease-in-out;
}

#instagramcontainer {
  padding-left: 9px;
  padding-right: 12px;
  width: 25px;
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease-in-out;
}

#instagramcontainer:hover{
  filter: brightness(1) invert(0);
  transition: filter 0.3s ease-in-out;
}

.nav-buttons {
  padding-top: 3px;
  width: 72%;
  overflow: auto;
  float: left;
  
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  float: left;
  font-size: 20px;
  text-align: left;
  padding-left: 30px;
}

.top {
  margin-top: 30px;
}

.hi-im-garrett {
  float: left;
  position: absolute;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  padding-top: 30px;
  padding-bottom: 30px;
  top: 35vw;
  z-index: 1000;
  background: rgba(0,0,0,0.2);
  color: #FFFFFF;
  font-weight: bold;
  font-size: 5vw;
  border: white 1px;
  border-style: solid;
}

.white-background {
  background-color: white;
  width: 100%;
  height: 50%;
}

.about-me {
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: calc(20% - 30px);
  width: 60%;
  padding: 30px;
  color: black;
  font-size: 18px;
  border: black 1px;
  border-style: solid;
}

#me {
  width: 100%;
  opacity: 80%;
  position: relative;
}




/* Scroll arrow*/
.ca3-scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  
	height: 60px;
	width: 80px;
	margin: 0px 0 0 -40px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	color: #FFF;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}